# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dev-dist
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
stats.html

# Custom background image(s)
public/backgrounds/*.jpg
public/backgrounds/*.png
public/backgrounds/*.gif
public/backgrounds/*.webp

# Default background images
!public/backgrounds/background.lazyload.webp
!public/backgrounds/background.webp
