:root {
  --color-background: #e8eded;
  --color-background-lighter: #fff;
  --color-text: #000;
  --color-text-lighter: #333;
  --color-link: #0b08f2;
  --color-warning: #ffc107;
  --color-gray: #8c8c8c;
  --color-tag-background: #f0f0f0;
  --color-tag-text: #6b6b6b;
  --color-barn-red: #730202;
  --color-coquelicot: #ff3d00;
  --color-menu-transparent: #ffffffa1;
  --color-menu-mobile: #fffffff2;
  --color-menu-mobile-background: #ffffffe6;
  --trigo-param-positive: calc((0.6rem - 1px) / 1.414);
  --trigo-param-negative: calc((0.6rem - 1px) / -1.414);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #13141b;
    --color-background-lighter: #23272d;
    --color-text: #ccc;
    --color-text-lighter: #e6e6e6;
    --color-link: #539bf5;
    --color-tag-background: #383838;
    --color-tag-text: #b3b3b3;
    --color-menu-transparent: #666666a1;
    --color-menu-mobile: #474747f2;
    --color-menu-mobile-background: #303030e6;
  }
  img {
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
  }
  .heading-container > h1 {
    background-color: unset !important;
    color: var(--color-text) !important;
    text-decoration: underline 0.25rem solid var(--color-text);
    text-underline-offset: 0.5rem;
  }
}

#noscript {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 4px 6px 0 #00000012;
  background: var(--color-warning);
  padding: 1rem 0;
  width: 100vw;
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
}

html,
body {
  background-color: var(--color-background);
  overflow-x: hidden;
  color: var(--color-text, #000);
  font-family: "Helvetica Neue", "Noto Sans JP", -apple-system,
    BlinkMacSystemFont, system-ui, "Noto Serif JP", "Hiragino Sans",
    "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, YuGothic,
    "ヒラギノ角ゴ Pro W3", メイリオ, "Microsoft YaHei", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#loading {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: var(--color-background-lighter, #fff);
  width: 100vw;
  height: 100vh;
  overscroll-behavior-y: contain;
  color: var(--color-text, #000);
}

#loading-text {
  margin-top: 1rem;
  letter-spacing: 0.25rem;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before {
  position: absolute;
  top: 50%;
  left: 0;
  animation: colorBallMoveX 1.5s linear infinite alternate;
  border-radius: 50%;
  background-color: var(--color-text);
  width: 48px;
  height: 48px;
  content: "";
}

.loader:after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(calc(-50% - 1px), 0, 0);
  background: linear-gradient(
    90deg,
    var(--color-background-lighter) 49%,
    var(--color-coquelicot) 49%,
    var(--color-coquelicot) 51%,
    transparent 51%
  );
  width: 100%;
  height: 100%;
  content: "";
}

@keyframes colorBallMoveX {
  0%,
  5% {
    transform: translate3d(0, -50%, 0);
  }
  15%,
  25% {
    transform: translate3d(0, -50%, 0);
  }
  75%,
  85% {
    transform: translate3d(50px, -50%, 0);
  }
  95%,
  100% {
    transform: translate3d(65px, -50%, 0);
  }
}

.load {
  position: absolute;
  animation: show 1s steps(2) infinite;
}

.dot1 {
  transform: translate3d(0rem, 0, 0);
  animation-delay: 0s;
}

.dot2 {
  transform: translate3d(0.5rem, 0, 0);
  animation-delay: 0.25s;
}

.dot3 {
  transform: translate3d(1rem, 0, 0);
  animation-delay: 0.5s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

img#banner {
  width: 100%;
  max-width: 1200px;
  max-height: 40vh;
  object-fit: cover;
}

#menu-bar {
  position: fixed;
  top: -1px;
  z-index: 9;
}

#container-introduction,
#container-researches,
#container-career-development,
#container-members,
#container-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: var(--color-background);
  padding-top: 2rem;
  width: 100vw;
  overflow-x: scroll;
}

#container-career-development {
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
  min-height: 20rem;
}

#container-members {
  justify-content: flex-start;
  padding-bottom: 1rem;
  overflow-x: hidden;
}

#container-contact {
  padding-bottom: 2rem;
}

#content {
  background-color: var(--color-background-lighter);
  width: 75vw;
  max-width: 1200px;
}

#content a:not(.banner) {
  display: inline-block;
  word-break: break-all;
  overflow-wrap: anywhere;
}

#content img {
  max-width: 100%;
  max-height: 20rem;
}

ul,
li {
  margin-bottom: 1rem;
  list-style: none;
}

h1:not(.heading-container > h1) {
  margin-bottom: 2rem;
  font-family: "Noto Serif JP", -apple-system, BlinkMacSystemFont, system-ui,
    serif;
}

h2:not(.preview-title, .details-content > h2) {
  margin-bottom: 0.5rem;
}

h3 {
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 768px) {
  #content {
    width: 100vw;
  }

  #content > .content-text {
    padding: 2rem;
  }
}

html {
  counter-reset: section;
}

.details-html > p {
  margin-bottom: 1rem;
}

.details-html a,
.content-text a {
  color: var(--color-link);
}

.signature {
  text-align: end;
}

.details-html > h3 {
  margin-bottom: 0.25rem;
}

:is(h1, h2, h3):target {
  margin-top: -3rem;
  padding-top: 3rem;
}

mark {
  background: none;
  color: #000;
  text-decoration: underline 2px wavy;
}

#content .content-text {
  box-shadow: 0 4px 6px 0 #00000012;
}

.content-text > h3 {
  counter-increment: section;
}

.content-text > h3::before {
  content: counter(section) ". ";
}

.float-right {
  float: right;
}

@media screen and (max-width: 768px) {
  .float-right {
    float: none;
  }
}

#content a:has(img) {
  align-self: center;
  width: fit-content;
}

.paper-list p {
  margin-left: 2rem;
  text-indent: -2rem;
}

#project-showcase {
  display: contents;
}

.details-html img {
  max-width: 100%;
}

#contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.375s ease-in-out;
  box-shadow: 2px 2px 0.5rem 0 #00000019;
  background-color: var(--color-background-lighter);
  padding: 2rem;
}

#contact-content:hover {
  box-shadow: 4px 4px 1rem 0 #00000033;
}

#contact-content a {
  align-self: center;
  transition: all 0.375s ease-in-out;
  margin-top: 2rem;
  border: 4px solid var(--color-text);
  background: var(--color-tag-background);
  padding: 0.5rem 1rem;
  width: fit-content;
  color: var(--color-text);
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
}

#contact-content a:hover {
  background: var(--color-text);
  color: var(--color-background);
}

@media screen and (max-width: 768px) {
  #contact-content {
    padding: 1rem;
    max-width: calc(100vw - 2rem);
  }
}

footer {
  background-color: var(--color-background-lighter);
  padding: 1.5rem;
  width: 100vw;
  /*box-shadow: 0 -0.1rem 0.25rem 0 #0000000f;*/
  color: var(--color-gray);
  text-align: center;
}

footer p:not(:last-child) {
  margin-bottom: 0.5rem;
}
